.link_item_container__LinkItem {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 300ms;
}

.link_item_container__LinkItem:hover .link_chain__LinkItem {
  fill: var(--green);
}

.link_item_container__LinkItem:hover .link_item__LinkItem {
  color: var(--green);
}

.link_item__LinkItem {
  text-decoration: none;
  color: var(--color);
}
