.container__Profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.title__Profile {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 1px 2px 2px #000;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
}

.subtitle__Profile {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.work_place_name__Profile {
  text-decoration: none;
  color: var(--primaryColor);
}

.work_place_name__Profile:hover {
  color: var(--green);
}

.description__Profile {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  color: rgb(188, 203, 224);
  max-width: 300px;
}

.link_with_arrow__Profile {
  margin-top: 25px;
}
