.container__Profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.title__Profile {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 1px 2px 2px #000;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
}

.subtitle__Profile {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.work_place_name__Profile {
  text-decoration: none;
  color: var(--color);
}

.work_place_name__Profile:hover {
  color: var(--green);
}

.description__Profile {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  color: rgb(188, 203, 224);
  max-width: 300px;
}

.view_resume_container__Profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color);
}

.arrow_icon__Profile {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  transition: margin 100ms linear;
}

.view_resume_container__Profile:hover .arrow_icon__Profile {
  margin-left: 15px;
}

.view_resume_container__Profile:hover .view_resume_text__Profile {
  text-decoration: underline var(--green);
  text-underline-offset: 5px;
}
