.container__ThemeSwitch {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
}

.sun_icon__ThemeSwitch {
  width: 48px;
  height: 48px;
  fill: var(--themeSwitchSunFill);
  position: absolute;
  left: 0;
  top: 0;
  transition: top 1500ms;
}

.moon_icon__ThemeSwitch {
  width: 48px;
  height: 48px;
  fill: var(--themeSwitchMoonFill);
  position: absolute;
  left: 0;
  top: 48px;
  transition: top 1500ms;
}

.dark .moon_icon__ThemeSwitch {
  top: 0;
}

.dark .sun_icon__ThemeSwitch {
  top: 96px;
}

.light .sun_icon__ThemeSwitch {
  top: 0;
}

.light .moon_icon__ThemeSwitch {
  top: 96px;
}
