.container__Archive {
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: auto;
  height: 100%;
}

@media (min-width: 768px) {
  .container__Archive {
    padding: 48px;
  }
}

@media (min-width: 1024px) {
  .container__Archive {
    padding: 96px;
  }
}
