.container__Footer {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.text__Footer {
  color: var(--grey);
}

.inline_link__Footer {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 500;
  transition: color 300ms;
}

.inline_link__Footer:hover {
  color: var(--green);
}

@media (min-width: 768px) {
  .container__Footer {
    padding-bottom: 48px;
  }
}

@media (min-width: 1024px) {
  .container__Footer {
    padding-bottom: 96px;
    flex-direction: row;
    justify-content: center;
  }
}
