.container__SplitScreen {
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: auto;
  height: 100dvh;
  scroll-behavior: smooth;
}

.sticky_side_container__SplitScreen {
  display: flex;
  flex-direction: column;
}

.scrolly_side_container__SplitScreen {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (min-width: 768px) {
  .container__SplitScreen {
    padding: 48px;
  }
}

@media (min-width: 1024px) {
  .container__SplitScreen {
    padding: 96px;
    flex-direction: row;
    justify-content: center;
  }
  .sticky_side_container__SplitScreen {
    flex: 1;
    max-width: 512px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .scrolly_side_container__SplitScreen {
    flex: 1;
    max-width: 512px;
  }
}

@media (min-width: 1400px) {
  .container__SplitScreen {
    padding: 10%;
  }
}
