.app {
  background-image: linear-gradient(
    to right top,
    #001f4f,
    #0a3a7a,
    #0e448f,
    #0a3a7a,
    #055274
  );
  background-repeat: no-repeat;
}

.app_main {
  position: relative;
  z-index: 1;
}

@media all and (min-width: 1024px) {
  /* START - Mouse cursor flashlight effect - desktop only */
  .app:after {
    content: '';
    position: absolute;
    top: calc(var(--y, 0) * 1px - 20vw);
    left: calc(var(--x, 0) * 1px - 20vw);
    width: 40vw;
    height: 40vw;
    background: radial-gradient(rgba(215, 215, 215, 0.5), transparent 70%);
    opacity: 0;
    transition: opacity 0.2s;
  }

  .app:hover::after {
    opacity: 0.2;
  }
  /* END - Mouse cursor flashlight effect - desktop only*/
}
