:root {
  font-family: Inter;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark {
  --primaryColor: rgba(226, 232, 240, 0.87);
  --secondaryColor: rgba(34, 34, 34, 0.87);
  --backgroundColor: rgb(15, 23, 42);
  --green: rgb(94, 234, 212);
  --grey: rgb(136 147 162);
}

.light {
  --primaryColor: rgba(34, 34, 34, 0.87);
  --secondaryColor: rgba(226, 232, 240, 0.87);
  --backgroundColor: rgb(47, 78, 152);
  --green: rgb(94, 234, 212);
  --grey: rgb(136 147 162);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--primaryColor);
}

body[data-theme='dark'] {
  --primaryColor: rgba(226, 232, 240, 0.87);
  --secondaryColor: rgba(34, 34, 34, 0.87);
  --backgroundColor: rgb(15, 23, 42);
  --green: rgb(94, 234, 212);
  --grey: rgb(136 147 162);
  background-color: var(--backgroundColor);
}

body[data-theme='light'] {
  --primaryColor: rgba(34, 34, 34, 0.87);
  --secondaryColor: rgba(226, 232, 240, 0.87);
  --backgroundColor: rgb(47, 78, 152);
  --green: rgb(94, 234, 212);
  --grey: rgb(136 147 162);
  background-color: var(--backgroundColor);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
